* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}
 /* -------------------------------- Header Starts Here -------------------------------- */
  
  /* ------------------------------ Top Header Starts Here ---------------------------------*/
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 41, 41);
    padding: 15px;
    border-bottom: 1px solid rgb(78, 78, 78);
    /* position: relative; */
    /* top: 197px; */
  }
  
  .top .left:first-child {
    margin-left: 60px;
  }
  
  .top a {
    color: rgb(175, 173, 173);
    margin-right: 50px;
    font-weight: 800;
    text-decoration: none;
  }
  
  .top #currency {
    margin-right: 2px;
  }
  
  /* ----------------------------------- Top Header Ends Here ----------------------------------- */
  
  /* ----------------------------------Bottom Header Starts Here ---------------------------------*/
  
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 41, 41);
    padding: 25px;
    /* position: relative; */
    /* top: 197px; */
  }
  
  .bottom .right {
    display: flex;
    align-items: center;
  }
  
  .bottom a {
    color: white;
    margin-right: 50px;
    font-weight: 800;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .bottom .left:first-child i {
    font-size: 2rem;
    margin-left: 50px;
  }
  
  .bottom .right:last-child i {
    font-size: 1.5rem;
  }
  
  #logo {
    height: 40px;
    width: 150px;
    margin-right: 50px;
  }
  
  #watch:hover,
  #audio:hover,
  #eyewear:hover,
  #bags:hover,
  #perfumes:hover,
  #offers:hover {
    color: orangered;
  }
  
  /* ----------------------------------Bottom Header Ends Here ---------------------------------*/
  
  /* ----------------------- Section on hovering "Watches Starts Here" ----------------------------- */
  
  #watch_hover {
    display: flex;
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 20px 50px 20px 60px;
    display: none;
    position: absolute;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px); */
  }
  
  .watch_style {
    display: flex;
    justify-content: space-between;
  }
  
  .watch_style h2 {
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .watch_style img {
    height: 70px;
    width: 70px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  #watch_hover a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
  }
  
  .watch_images {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .watch_shopCollectibles {
    margin-right: 60px;
  }
  
  #fig_caption {
    display: flex;
    align-items: center;
  }
  
  #watch_img {
    height: 420px;
  }
  
  .watch_buy {
    width: 75%;
  }
  
  #watch_btn {
    width: 90%;
    padding: 10px;
    color: white;
    background-color: rgb(75, 73, 73);
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  /* ----------------------- Section on hovering "Watches" Ends Here ----------------------------- */
  
  /* ------------------- Section on hovering "Smart and Audio" Starts Here ------------------------- */
  
  #audio_hover {
    display: flex;
    background-color: rgb(41, 41, 41);
    padding: 20px 50px 20px 60px;
    display: none;
    position: absolute;
    width: 100%;
    /* -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px); */
  }
  
  .watch_neckbands {
    display: flex;
    width: 50%;
  }
  
  .watches_bands,
  .watches_wireless {
    margin-right: 20px;
    width: 50%;
  }
  
  .watches_bands button,
  .watches_wireless button {
    padding: 10px;
    width: 100%;
    background-color: rgb(75, 73, 73);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .watch_neckbands a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 1.4rem;
  }
  
  .watch_neckbands a h2 {
    font-size: 15px;
  }
  
  #audio_hover figure {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  #audio_hover figure a {
    margin-right: 20px;
  }
  
  #audio_hover figure a img {
    width: 98%;
  }
  
  /* ------------------- Section on hovering "Smart and Audio" Ends Here ------------------------- */
  
  /* ---------------------- Section on hovering "Bags & MORE" Starts Here ---------------------------- */
  
  #bags_hover {
    display: flex;
    background-color: rgb(41, 41, 41);
    display: none;
    padding: 20px 50px 20px 60px;
    position: absolute;
    width: 100%;
  }
  
  .bags_content {
    display: flex;
  }
  
  .bags_style {
    display: flex;
    width: 50%;
    color: white;
  }
  
  #bags_hover a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
  }
  
  #bag_heading {
    font-size: 15px;
  }
  
  .bags_guys h2,
  .bags_guys a,
  .bags_girls h2,
  .bags_girls a,
  .bags_category h2,
  .bags_category a {
    margin: 0 45px 20px 0;
  }
  
  #bags_img {
    width: 50%;
  }
  
  #bags_img img {
    height: 300px;
  }
  
  /* ---------------------- Section on hovering "Bags & MORE" Ends Here ---------------------------- */
  
  /* ----------------------- Section on hovering "Perfumes" Starts Here -------------------------- */
  
  #perfumes_hover {
    display: flex;
    background-color: rgb(41, 41, 41);
    padding: 20px 50px 20px 60px;
    display: none;
    position: absolute;
    width: 100%;
  }
  
  #perfumes_hover .perfumes_view {
    width: 30%;
  }
  
  .perfumes_both {
    display: flex;
  }
  
  .perfumes_both a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 1.4rem;
  }
  
  .perfumes_both a h2 {
    font-size: 15px;
  }
  
  .perfumes_guys,
  .perfumes_girls {
    /* margin-right: 20px; */
    width: 50%;
  }
  
  .perfumes_view {
    margin-right: 20px;
  }
  
  .perfumes_view button {
    padding: 10px;
    width: 100%;
    background-color: rgb(75, 73, 73);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  #perfumes_hover figure {
    width: 70%;
  }
  
  #perfumes_img img {
    height: 225px;
    width: 100%;
  }
  
  #perfumes_hover figure figcaption {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 10px;
  }
  
  #perfumes_hover figure a {
    text-decoration: none;
  }
  
  /* ----------------------- Section on hovering "Perfumes" Ends Here -------------------------- */
  
  /* ------------------- Section on hovering "Offers And More" Starts Here --------------------- */
  
  #offers_hover {
    display: flex;
    justify-content: space-around;
    background-color: rgb(41, 41, 41);
    padding: 20px 50px 20px 60px;
    display: none;
    position: absolute;
    width: 100%;
  }
  
  #offers_hover a img {
    height: 200px;
  }
  
  /* -------------------- Section on hovering "Offers And More" Ends Here ---------------------- */
  
  /* ---------------------------------------- Header Ends Here --------------------------------- */
  
  /* -------------------------------- Section on click "BRANDS" starts here -------------------- */
  
  #brands_click {
    padding: 50px 80px;
    text-align: center;
    display: none;
  }
  
  #brands_click h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.8rem;
    font-weight: 800;
    color: rgb(41, 41, 41);
  }
  
  #brands_click figure {
    display: flex;
    margin-bottom: 50px;
  }
  
  #brands_click figure a .bigger_img {
    height: 400px;
    width: 350px;
  }
  
  #brands_click figure a .mid_img {
    margin: 0 20px;
  }
  
  #brands_click figure a .smaller_img {
    height: 20%;
    width: 40%;
  }
  
  /* -------------------------------- Section on click "BRANDS" ends here -------------------- */
  
  /* ----------------------- Section on click "CURRENCY SELECTOR" starts here ---------------- */
  
  #currency_click {
    background-color: rgb(41, 41, 41);
    position: absolute;
    top: 0;
    width: 100%;
    padding: 50px;
    display: none;
  }
  
  #currency_click h3 {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-weight: lighter;
  }
  
  #currency_click button {
    padding: 15px 80px;
    /* outline: white; */
    border: 1px solid rgb(148, 146, 146);
    background-color: rgb(26, 25, 25);
    color: rgb(110, 110, 110);
    font-weight: 800;
    margin-right: 20px;
    margin-top: 30px;
  }
  
  /* -------------------------- Section on click "CURRENCY SELECTOR" ends here --------------- */


  /* Book my appoint css start here */
 .container , .container2{
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
 } 

.upperDiv{
  display: flex;
}

.container  image{
  width: 600px;
  margin: 30px 25px;
}

.right-box{
  margin: 30px 20px;
  width: 750px;
}

.form{
  display: flex;
  flex-direction: column;
}

#input{
  width: 100%;
  height: 35px;
  margin: 20px 0;
  padding: 0px 10px;
  outline: none;
}

.state{
  width: 774px;
  height: 35px;
  margin: 20px 0;
  padding: 0px 10px;
  outline: none;
}

.container .form .submitBtn{
  padding: 10px 0;
  background-color: black;
  color: white;
  font-weight: bold;
  height: 45px;
  width: 774px;
  margin: 20px 0;
}

.container .lowerDiv{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

 .container .lowerDiv h2{
  font-size: 33px;
  margin-bottom: 10px;
} 
.container .lowerDiv p{
  font-size: 18px;
}
.container-select{
  display: flex;
  margin: 2% 1%;
}
.container2 #input{
  width: 100%;
  height: 35px;
  margin: 20px 0;
  padding: 0px 10px;
  outline: none;
}
.container2 .city , .store{
    width: 374px;
    height: 40px;
    margin: 20px 30px;
    padding: 0px 10px;
    outline: none;
 
}
.container-date input{
  width: 250px;
  height: 40px;
  margin: 0 20px;
}


/* -----------------------slider section start here -------------- */
.main1{
  height: 90vh;
}
.container {
    width: 90%;
    height: 500px;
    background-color: aquamarine;
    border: 2px solid blue;
  }
  .container img{
    display: none;
    width: 90vw;
    height: 600px;  
  }
  .active img{
    display: block;
  }
  .slider-button{
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    font-size: 25px;
  
    position: absolute;
    z-index: 10;
    top:50%;
    font-weight: 600;
    transition:0.6s;
  }
  #button-prev{
    left:10px;
    
  }
  #button-next{
    right:10px;
  }
  .slider-button:hover{
    background-color: #717171;
  }
  .dots-container{  
    position: relative;
    bottom: 60px;
    left:47%;
  }
  
  .dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 12px auto;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s;
  }
  .dot:hover {
    background-color: #b75d5d;
  }
  .dots-container .activeDot{
    background-color: rgb(212, 102, 80);
  }
  
 


/* PRODUCTS */


.product {
  border: 5px solid red;
  background: rgb(146, 146, 146);
  margin: 1% 4%;
  margin-top: 0;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 40px;
  text-align: center;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}



#myvideo{
    width: 90%;
    height: 500px;
    margin: 2% 4%;
}


/*  ----------------------------trending section start here */
.trending_product{
  width: 90%;
  height: 515px;
  margin: 0 4%;
}
.trending_watch_heading h2 {
  text-align: center;
  word-spacing: 0.56rem;
  font-size: 30px;
  line-height: 1.5;
  padding-top: 2%;
}

.trending_product {
  flex-direction: column;
}

.trending_product .trending_watch_image {
  margin: 2% 2%;
  flex-direction: row;
  overflow-y: hidden;
  padding: 1%;
}



.trending_product .trending_watch_image .watch_img {
  cursor: pointer;
  padding: 0 1%;
  transition: all 0.2s linear;
}

.trending_product .trending_watch_image .watch_img:hover {
  padding: 1% 1%;

}

.trending_product .trending_watch_image h5 {
  padding: 2%;
  font-size: 15px;
}

.trending_product .trending_watch_image  h6 span {
  text-decoration: line-through;
  color: grey;
  font-weight: 900;
  font-size: 13px;
  padding: 2%;
}

.trending_product .trending_watch_image h6 {
  font-size: 20px;
  color: black;
  font-weight: 900;
}

/* section digital add */

.digital_adds{
  width: 90%;
  margin: 0 4%;
  background-color: black;
  box-sizing: border-box;
}

.digital_adds .top .content-left , .content-left2{
  color: white;
  text-align: center;
  padding: 18% 5%;
  font-size: 23px;
  font-weight: bold;
}
.digital_adds .top .content-left a{
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.digital_adds .top .content-img{
  position: relative;
  left: -50px;
  top: 60px;
  cursor: pointer;
}

.digital_adds .bottom .content-left2{
  padding: 10% 5%;
}
.digital_adds .bottom .content-img2{
  position: relative;
  left: 40px;
  bottom: 22px;
  cursor: pointer;
}

/* section featured  */

.featured_collections{
  width: 90%;
  height: 200px;
  margin: 0 7%;
  padding: 1%;
  
}
.featured_collections .trending_watch_heading h2{
  text-align: center;
  padding: 2%;
  line-height: 1.5;
}
.featured_collections .featured-img{
  position: relative;
  /* top: 1px; */
  left: 10px;
  
}
.featured_collections .featured-img h4{
  text-align: center;
  font-size: 30px;
  color: goldenrod;
  padding: 2%;
 
}
.featured_collections .featured-img p{
  color: white;
  flex-wrap: wrap;
  padding: 2%;
  text-align: center;
  /* text-align: justify; */
/* text-justify: inter-word; */
 
}
.featured_collections .featured-img>*{
  padding: 2%;
}


.color{
  width: 90%;
  height: 550px;
  margin: 0 4%;
  background-color: black;
}
/* -----------------------------prodcut page----------------------------- */

.product_detail{
  display:  flex;
  width: 90%;
  margin: 2% 5%;
}
.product_img{
  margin: 3%;
}
.product_details{
  width: 50%;
  margin: 3%;
}
.product_details .product_name{
  font-size: 20px ;
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
}
.product_details .rating{
  color: orangered;
  margin-left: 10px;
}
.product_details p{
  color: black;
}
.product_details .price {
  padding:4%;
}
.product_details .price h6{
  font-size: 20px;
}
.product_details .price .offer{
  text-decoration: line-through;
  font-size: 18px;
  color:grey;
}
.product_details .price .discount{
  color:red;
}
.product_details .price .tax{
  color: grey;
}
.product_details .emi{
  background: rgb(185, 184, 184);
  margin: 3%;
  padding: 2%;
}
.product_details .emi h6{
  font-size: 17px;
}
.product_details .desc{
  margin: 3%;
  font-size: 23px;
}
.product_details .qty{
  margin: 4%;
}
.product_details button , p{
  font-size: 26px;
  margin: 2%;
  cursor: pointer;
}
.product_details .cart{
  margin: 4%;
}
.product_details .cart button{
  width: 20vw;
  font-size: 23px;
  font-weight: 900;
  background-color: orangered;
}
.description{
  margin: 2% 5%;
}
.description h1{
  text-align: center;
  font-size: 30px;
  background: black;
  color: white;
}
.description img{
align-items: center;

}
 
/* ---------------follow us -------------------------*/
.followus{
  width:90%;
  margin: 2% 5%;
  display: flex;
  flex-wrap: wrap;
}
.followusimg h1{
  font-size: 23px;
  text-align: center;
  margin: 2%;
  font-weight: 900;
}


/* ------------------------------FOOTER starts here----------------------- */
.section1 {
  background-color: rgb(248, 245, 245);
}

.section1-container {
  padding-bottom: 60px;
}

.section1-heading {
  text-align: center;
  padding: 30px 0;
  font-size: 30px;
  letter-spacing: 1px;
}

.section1-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-detail {
  background-color: black;
  width: 350px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.location-detail ul {
  margin: 0 10px;
}

.location-detail ul li {
  list-style: none;
}

.location-detail ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.inputBtn {
  width: 220px;
  padding: 17px 20px;
  border: none;
  outline: none;
}

.searchBtn {
  width: 130px;
  padding: 15px 20px;
}



/* section-2 */
.section2 {
  background-color: rgb(41, 40, 40);
}

.section2-container {
  display: flex;
  justify-content: space-around;
  color: honeydew;
  margin: 0 150px;
}

.section2-innerdiv {
  width: 280px;
  text-align: center;
  padding: 20px 0;
}

.section2-heading {
  font-size: 20px;
  line-height: 2;
}

.section2-innerdiv p {
  font-size: 16px;
  line-height: 1.5;
}





/* section-3 */
.section3-container {
  margin: 40px 80px;
  text-align: justify;
}

.section3-heading {
  color: rgb(110, 110, 110);
  margin: 10px 0;
}

.section3-para {
  margin-bottom: 20px;
  color: gray;
  font-size: 14px;
}

.section3-know-more-btn {
  position: absolute;
  left: 1350px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 1px solid gray;
  color: grey;
}

.section3-lowerDiv {
  margin-top: 50px;
  display: none;
}

.active {
  display: block;
  height: auto;
}



/* section-4 */
.section4 {
  background-color: rgb(41, 40, 40);
  color: honeydew;
  padding: 40px 0;
}

.section4-upperDiv {
  display: flex;
  justify-content: space-around;
  margin: 0 120px;
}

.image {
  width: 150px;
  margin: 25px 10px 0 10px;
}

.section4-heading {
  font-weight: bolder;
  font-size: 20px;
}

.section4-upperDiv ul li {
  list-style: none;
  font-size: 17px;
}

.section4-upperDiv ul li a {
  text-decoration: none;
  color: honeydew;
  line-height: 3;
}

.section4-upperDiv ul li a:hover {
  color: rgb(175, 80, 45);
}

.inner-deatil {
  line-height: 3;
  font-size: 17px;
}

.download-world-of-titan-app .flex1 {
  display: flex;
}

.flex1-heading {
  margin-right: 30px;
}

.icons i {
  font-size: 20px;
}

.download-world-of-titan-app .flex1 li {
  padding: 0 10px;
}

.click-here {
  border-bottom: 1px solid honeydew;
}

.click-here:hover {
  border-bottom: 1px solid rgb(145, 64, 34);
}

.whatsapp-icon {
  font-size: 22px;
}





#login_click {
  margin: 20px 80px;
  display: none;
}

#login_click figure {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#login_click img {
  height: 15%;
  width: 25%;
}

.login_signup {
  display: flex;
}

.login_signup .login {
  width: 50%;
  /* margin-right: 20px; */
}

.login_signup .login .log {
  width: 80%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.login_signup .login .log a {
  /* margin-left: 38%; */
  margin: 0 auto;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.login_signup .login .log .plus {
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* ------------------------ Section on click "LOGIN VIA OTP" starts here -------------------- */

.otp_login .otp_login_inside {
  border: 1px solid black;
  display: none;
  /* width: 40%; */
  /* margin-right: 80px; */
}

legend {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.mob_email {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-size: 15px;
}

.otp_login .otp_login_inside h2 {
  text-align: center;
  font-size: 16px;
  margin: 30px 0;
}

.country {
  width: 20%;
  outline: none;
  border: none;
  font-size: 15px;
  background-color: rgb(236, 235, 235);
  padding: 10px;
  margin: 0 20px;
}

.phone {
  width: 65%;
  outline: none;
  border: none;
  font-size: 15px;
  background-color: rgb(236, 235, 235);
  padding: 10px;
  /* margin: 0 20px; */
  letter-spacing: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otp_login .otp_login_inside button {
  /* position: relative; */
  /* bottom: 0; */
  width: 100%;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  margin-top: 20px;
  padding: 20px;
  font-weight: bolder;
  cursor: pointer;
}

/* ------------------------ Section on click "LOGIN VIA OTP" ends here -------------------- */

/* ------------------------ Section on click "LOGIN VIA PASSWORD" starts here -------------------- */

.password_login .password_login_inside {
  width: 100%;
  display: none;
}

.password_login .password_login_inside .mobile_input {
  width: 90%;
  text-align: center;
  padding: 10px;
  outline: none;
  border: none;
  background-color: rgb(236, 235, 235);
  margin: 20px;
}

.password_login .password_login_inside .password_div {
  width: 90%;
  background-color: rgb(236, 235, 235);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px 20px 20px;
}

.password_login .password_login_inside .password_input {
  background-color: rgb(236, 235, 235);
  margin-left: 150px;
  outline: none;
  border: none;
}

.password_login .password_login_inside .password_div .eye {
  display: none;
}

.password_login .password_login_inside .remember {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 40px 20px;
}

.password_login .password_login_inside .remember .check a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.password_login .password_login_inside .remember .forgot a {
  color: black;
  /* text-decoration: none; */
  font-size: 14px;
  font-weight: 400;
}

.password_login .password_login_inside button {
  width: 100%;
  color: white;
  background-color: black;
  padding: 15px;
  cursor: pointer;
}

/* ------------------------ Section on click "LOGIN VIA PASSWORD" ends here -------------------- */

/* -------------------- Section on click "LOGIN VIA FACEBOOK/GOOGLE" starts here -------------------- */

.fb_login .heading {
  width: 100%;
  display: none;
}

.fb_login .heading h2 {
  text-align: center;
  margin-bottom: 30px;
}

.fb_login .buttons {
  display: flex;
  justify-content: space-between;
}

.fb_login .buttons .facebook, .fb_login .buttons .google {
  outline: none;
  border: none;
  background-color: black;
  color: white;
  padding: 18px;
  width: 45%;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}

/* -------------------- Section on click "LOGIN VIA FACEBOOK/GOOGLE" ends here -------------------- */

.signup {
  width: 50%;
  padding-left: 160px;
  border-left: 2px solid black;
}

.signup p {
  font-size: 22px;
  margin-bottom: 20px;
}

.signup ul h1 {
  margin-bottom: 10px;
}

.signup li {
  font-size: 15px;
  margin-left: 40px;
}

.signup .signup_btn {
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

.signup .signup_btn:hover {
  color: white;
  background-color: black;
}

/* ---------------------------------- Section on click "LOGIN" ends here ------------------------- */

/* ---------------------------- Section on click "SIGN UP NOW" starts here --------------------------- */

#signup_click {
  display: none;
}

#signup_click figure img {
  height: 20%;
  width: 20%;
  display: flex;
  margin: 20px auto;
}

#signup_click .signup_box {
  width: 35%;
  margin: 0 auto;
  /* padding: 40px 20px 0 20px; */
  padding-top: 40px;
}

#signup_click .signup_box #title {
  padding: 15px;
  width: 28%;
  /* margin-bottom: 40px;
  margin-right: 20px; */
  margin: 0 20px 40px 20px;
  border: none;
  outline: none;
  background-color: rgb(236, 235, 235);
}

#signup_click .signup_box #first_name {
  padding: 15px;
  width: 58.5%;
  border: none;
  outline: none;
  background-color: rgb(236, 235, 235);
  letter-spacing: 2px;
  margin-right: 20px;
}

#signup_click .signup_box #last_name {
  width: 92%;
  border: none;
  outline: none;
  background-color: rgb(236, 235, 235);
  padding: 15px;
  margin: 0 20px 40px 20px;
  text-align: center;
  letter-spacing: 2px;
}

#signup_click .signup_box #country {
  width: 25%;
  border: none;
  outline: none;
  background-color: rgb(236, 235, 235);
  padding: 15px;
  /* margin-bottom: 40px;
  margin-right: 40px; */
  margin: 0 40px 40px 20px;
}

#signup_click .signup_box #mobile_no {
  width: 57.2%;
  border: none;
  outline: none;
  background-color: rgb(236, 235, 235);
  padding: 15px;
  letter-spacing: 2px;
  margin-right: 20px;
}

#signup_click .signup_box #email {
  width: 92%;
  border: none;
  outline: none;
  background-color: rgb(236, 235, 235);
  padding: 15px;
  /* margin-bottom: 40px; */
  margin: 0 20px 40px 20px;
  text-align: center;
  letter-spacing: 2px;
}

#signup_click .signup_box #password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  background-color: rgb(236, 235, 235);
  padding: 15px;
  /* margin-bottom: 40px; */
  margin: 0 20px 40px 20px;
}

#signup_click .signup_box #password input {
  border: none;
  outline: none;
  background-color: rgb(236, 235, 235);
  letter-spacing: 2px;
  margin-left: 40%;
}

#signup_click .signup_box #receive, #signup_click .signup_box #t_c {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  margin-left: 20px;
}

#signup_click .signup_box #receive #checkbox, #signup_click .signup_box #t_c #checkbox {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

#signup_click .signup_box #receive h2, #signup_click .signup_box #t_c h2 {
  font-weight: 400;
}

#signup_click .signup_box #register {
  width: 100%;
  cursor: pointer;
  padding: 15px 10px;
  border: 1px solid black;
  font-weight: 700;
  margin-top: 25px;
  background-color: white;
}

#signup_click .signup_box #register:hover {
  color: white;
  background-color: black;
}

/* ---------------------------- Section on click "SIGN UP NOW" ends here --------------------------- */

/* ------------------------------- Section on click "REGISTER" starts here ------------------------- */


#register_click {
  display: none;
}

#register_click figure img {
  height: 20%;
  width: 20%;
  display: flex;
  margin: 20px auto;
}

#register_click .register_box {
  width: 30%;
  margin: 40px auto;
  text-align: center;
}

#register_click .register_box h2 {
  margin: 20px;
}

#register_click .register_box #register_input {
  width: 90%;
  text-align: center;
  padding: 10px;
  margin: 0 20px 40px 20px;
}

#register_click .register_box .verify_btn {
  width: 100%;
  padding: 12px;
  background-color: white;
  border: 1px solid black;
  font-weight: 700;
  cursor: pointer;
}

#register_click .register_box .verify_btn:hover {
  color: white;
  background-color: black;
}